<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="./jquery/jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <div class="app">
        <div class="main">
            <div class="main-content-wrapper">
                <div class="guest-message-wrapper">
                    <div class="guest-message">
                        <div class="created-at">12:04</div>
                        <div class="guest-message-content">
                            <p>Hello Khách</p>
                        </div>
                    </div>
                </div>
                <div class="my-message-wrapper">
                    <div class="my-message">
                        <div class="created-at">12:04</div>
                        <div class="my-message-content">
                            <p>Hello</p>
                        </div>
                    </div>
                </div>
                <div class="guest-message-wrapper">
                    <div class="guest-message">
                        <div class="created-at">12:04</div>
                        <div class="guest-message-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non tempor eros, in tempor ex. In ultrices, ipsum non laoreet vestibulum, dui libero dignissim neque, non molestie est sem quis urna. Sed condimentum velit a
                                vulputate finibus. Etiam nec est ac metus iaculis auctor. Maecenas scelerisque consequat justo quis volutpat. Praesent nisi sem, congue ac magna quis, cursus vestibulum felis. Duis sollicitudin tincidunt nunc vel pretium.
                                Mauris in eros euismod, consequat justo ut, vehicula mi. Vestibulum convallis dolor vitae magna bibendum mattis a vel dui. Integer at nibh pharetra, consectetur tellus tincidunt, condimentum sapien. Interdum et malesuada
                                fames ac ante ipsum primis in faucibus. Sed velit ante, dapibus eget porta at, placerat et urna. Maecenas egestas risus eu dolor cursus fermentum. Nullam lacus ipsum, tincidunt sit amet lacinia at, condimentum at mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="my-message-wrapper">
                    <div class="my-message">
                        <div class="created-at">12:04</div>
                        <div class="my-message-content">
                            <p>Hello</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-action-wrapper">
                <div class="main-action">
                    <input type="text" class="chat-content">
                    <button type="button" id="send"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
        <div class="asile-right"></div>
    </div>
    <script src="./js/view.js"></script>
</body>

</html>