<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <div class="app">
        <div class="main">
            <div class="background-login"></div>
        </div>
        <div class="asile-right">
            <form action="/login/user" method="POST">
                <div class="login-title-wrapper">
                    <div class="login-title">
                        LOGIN
                    </div>
                </div>
                <div class="login-username-wrapper login-row">
                    <input type="text" name="username" placeholder="Nhập username...">
                </div>
                <div class="login-password-wrapper login-row">
                    <input type="password" name="password" placeholder="Nhập password...">
                </div>
                <div class="mess-error">

                </div>
                <div class="login-action-wrapper">
                    <button type="submit" class="btn">ĐĂNG NHẬP</button>
                </div>
                <div class="register-wrapper link-wrapper">
                    <a href="/register">ĐĂNG KÍ</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>