* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.main {
    width: 80vw;
    background-color: gray;
    height: 100%;
}

.asile-right {
    background-color: #dbdbdb;
    height: 100%;
    width: 20vw;
}

.main-content-wrapper {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    overflow: auto;
}

.main-content-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: gray;
}

.main-content-wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 3px;
}

.created-at {
    color: white;
}

.guest-message-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.guest-message {
    padding-left: 20px;
    width: 40%;
}

.guest-message-content {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
}

.guest-message-content p {
    margin: 10px;
}

.my-message-content p {
    margin: 10px;
}

.my-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

.my-message {
    padding-right: 20px;
    width: 40%;
}

.my-message .created-at {
    text-align: right;
}

.my-message-content {
    display: inline-block;
    background-color: #dbdbdb;
    border-radius: 5px;
    border-top-right-radius: 0px;
    float: right;
}

.main-action-wrapper {
    border-top: 1px dashed #dbdbdb;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-action {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.main-action input {
    width: 72%;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main-action button {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
    padding-right: 10px;
}

.main-action button:hover {
    color: tomato;
}


/* //////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 768px) {
    .main-content-wrapper {
        height: 80%;
    }
    .main-action-wrapper {
        height: 20%;
    }
}